{{> header }}
{{> navbar }}

<div class="row">
  <div class="col-md-6 text-center">
    <h1>About</h1>
  </div>
  <div class="col-md-6">
    <img src="assets/hero.jpg" alt="" class="img-thumbnail">
  </div>
</div>

{{> footer }}